footer {
    background-color: black;
    bottom: 0;
    color: white;
    display: block;
    font-size: 10px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

footer span {
    display: block;
    position: relative;
}

h1 {
    background-color: black;
    color: white;
    padding-bottom: 15px;
    text-align: center;
    vertical-align: middle;
}

#header {
    background-color: black;
}

.filter {
    background-color: transparent;
    display: block;
    margin: 0em;
    padding-left: 5px;
    position: relative;
    text-align: left;
    vertical-align: middle;
}

.filterButton {
    background-color: white;
    border: 5px black solid;
    display: block;
    font-family: Helvetica;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.filterLabel {
    padding-left: 50px;
}

.logo {
    display: block;
    height: 120 px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    vertical-align: middle;
    width: 150px;
}

.navigation {
    background-color: transparent;
    display: block;
    margin: 0em;
    padding-left: 5px;
    padding-top: 15px;
    position: relative;
    text-align: left;
    vertical-align: middle;
}

.navigationBack {
    display: block;
    font-size: 12px;
    text-align: left;
    vertical-align: middle;
}

.navigationBack a {
    color: black;
    padding: 15px;
    text-decoration: none;
}

.navigationButton {
    background-color: white;
    border: 5px black solid;
    display: block;
    font-family: Helvetica;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.navigationJump {
    display: block;
    font-size: 12px;
    text-align: left;
    vertical-align: middle;
}

.navigationJump a {
    color: black;
    padding: 15px;
    text-decoration: none;
}

.navigationLabel {
    padding-left: 50px;
}

.sources li {
    white-space: normal;
    word-wrap: break-word;
}

.stickyPanel {
    background-color: transparent;
    margin: 0px auto;
    padding-top: 210px;
    position: fixed;
    overflow-x: hidden;
    top: 0;
    z-index: 99 !important;
}