body {
    height: 100vh;
    font-family: Helvetica;
    font-size: 15px;
}

h1 {
    background-color: black;
    color: white;
    line-height: 50px;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

label {
    cursor: default;
    font-size: 12px;
    font-style: italic;
    padding: 15px;
}

footer {
    background-color: black;
    color: white;
    display: block;
    font-size: 10px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

footer span {
    padding: 25px;
}

.filter {
    margin: 0em;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.filterButton {
    border: 5px black solid;
    display: inline-block;
    font-family: Helvetica;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.filterGroup {
    padding: 10px;
}

.title {
    background-color: black;
    border: 5px white solid;
    line-height: 25px;
    padding: 1px 5px;
    word-wrap: break-word;
    vertical-align: middle;
}

.logo {
    width: 150px;
    height: 120 px;
    vertical-align: middle;
}

.main {
    display: block;
    text-align: left;
    vertical-align: middle;
}

.main h2 {
    text-align: center;
}

.main h3 {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainText {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-size: 20px;
}

.contribute {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.historyList {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}