/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body {
    height: 100vh;
    font-family: Helvetica;
    font-size: 15px;
}

input[type='checkbox'] {
    vertical-align: middle;
    float: right;
}

label {
    cursor: default;
    font-size: 12px;
    font-style: italic;
    padding: 15px;
}

.additionalContext {
    padding-left: 5px;
}

.backToTop {
    display: block;
    margin: 0px auto;
    padding: 10px 0px;
    text-align: left;
    width: 65%;
}

.backToTop a {
    color: black;
    text-decoration: none;
}

.backToTop div {
    display: inline-flex;
    padding-left: 15px;
    vertical-align: top;
}

.centered {
    text-align: center;
}

.content {
    display: table-cell;
}

.contribute {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.disputed {
    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
}

.disputed span {
    color: red;
    font-weight: bold;
}

.filterGroup {
    background-color: white;
    padding: 10px;
}

.filterText {
    display: block;
    text-align: center;
}

.filterYear {
    bottom: 100%;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}

.filterYear div:nth-child(3) {
    top: auto;
    bottom: 100%;
}

.historyList {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}

.historyList li:not(:last-child) {
    padding-bottom: 25px;
    white-space: normal;
    word-wrap: break-word;
}

.historyItem {
    padding-left: 10px;
}

.imageBox {
    background-color: black;
    display: grid;
    height: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.left {
    text-align: left;
}

.legend {
    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.main {
    display: block;
    text-align: left;
}

.main h2 {
    text-align: center;
}

.main h3 {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainText {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-size: 20px;
}

.material-icons.md-12 {
    color: black;
    font-size: 12px;
}

.modal {
    padding-top: 32px;
}

.navigationGroup {
    background-color: white;
    padding: 10px;
}

.oasis {
    color: black;
    font-family: Helvetica;
}

.oasis a {
    color: black;
    text-decoration: none;
    text-decoration-color: black;
}

.quote {
    display: block;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    text-align: center;
    width: 65%;
}

.quote blockquote {
    /* Negate theme styles */
    border: 0;
    margin: 0;
    padding: 0;

    background: none;
    color: black;
    font-family: Helvetica;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.4 !important;
    margin: 0;
    position: relative;
    text-shadow: 0 1px white;
    z-index: 600;
}

.quote blockquote * {
    box-sizing: border-box;
}

.quote blockquote p {
    color: grey;
    line-height: 1.4 !important;
}

.quote blockquote p:first-child:before {
    content: '\201C';
    color: grey;
    font-size: 7.5em;
    font-weight: 700;
    opacity: 0.3;
    position: absolute;
    top: -0.4em;
    left: 0.7em;
    text-shadow: none;
    z-index: -300;
}

.quote cite {
    color: gray;
    display: block;
    font-size: 0.8em;
}

.quote cite span {
    color: #5e5e5e;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px white;
}

.resetButton {
    background-color: white;
    border: 5px black solid;
    display: inline-block;
    font-family: Helvetica;
    font-size: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.sourceLink {
    color: black;
    padding-left: 5px;
    text-decoration: none;
}

.table {
    display: table;
    width: 100%;
}

.tableCaption {
    caption-side: top;
    display: table-caption;
    width: 100%;
}

.tableCaptionBottom {
    caption-side: bottom;
    display: table-caption;
    width: 100%;
}

@-moz-document url-prefix() {
    .tableCaptionBottom {
        display: table-row;
        width: 100%;
    }
}

.tableRow {
    display: table-row;
}

.tableRowGroup {
    display: table-row-group;
}

.title {
    background-color: black;
    border: 5px white solid;
    line-height: 25px;
    padding: 1px 5px;
    word-wrap: break-word;
    vertical-align: middle;
}

.yearJump {
    text-align: left;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}

.yearJumpSelect {
    display: inline-block;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}

.yearScroll {
    display: inline-flex;
}

.yearScroll div {
    font-family: Helvetica;
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
}

.yearScrollButton {
    background-color: white;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.yearScrollIcon {
    padding-right: 15px;
}
